* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

body > form input {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-text-decoration-color: #ccc;
          text-decoration-color: #ccc;
}

body > form input:focus {
  caret-color: transparent;
  -webkit-animation-name: letterBlink;
          animation-name: letterBlink;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

h1 {
  font-size: 25px;
  line-height: 40px;
  font-weight: normal;
  word-break: break-word;
}

h2 {
  font-size: 25px;
  letter-spacing: 3px;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  font-weight: normal;
  line-height: 30px;
  word-break: break-all;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  color: #555;
  text-align: center;
  margin: 20px auto;
}

img {
  display: block;
  max-height: 300px;
  max-width: 100%;
  margin: auto;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

form {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  padding: 0 40px 40px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@-webkit-keyframes letterBlink {
  0% {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
  100% {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

@keyframes letterBlink {
  0% {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
  100% {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

input {
  vertical-align: middle;
  margin: auto;
  width: 80px;
  text-align: center;
  display: block;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  line-height: 80px;
  border-radius: 4px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 40px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  caret-color: #555;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ccc;
}

input:-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ccc;
}

input::-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ccc;
}

input::placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ccc;
}

.buttons {
  text-align: center;
  margin: 20px auto;
}

button {
  outline: none;
  line-height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 2px 10px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:hover {
  background: #fff;
  color: #000;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

p {
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 600px) {
  form {
    width: 95%;
    padding: 0 10px 40px;
  }
  form img {
    width: 50%;
  }
  form input {
    width: 60px;
    line-height: 60px;
    font-size: 35px;
    caret-color: #555;
  }
}
/*# sourceMappingURL=style.css.map */